<div>
  <button class="btn btn-success" routerLink="/books/new">New Book</button>
  <hr>
  <table border="1" width="100%" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td><a [routerLink]="['/books', book.id]">{{ book.name }}</a></td>
        <td>{{book.price | currency:'VND'}}</td>
      </tr>
    </tbody>
  </table>
</div>
